
/* Setting background color */
body {
    background-color: rgb(77, 122, 136);
    font-family: 'Roboto', sans-serif;
  }

.title {
    color: white;
    padding: 25px 50px 75px 100px;
}

header {
    text-align: center;
    line-height: 1em;
    color: bisque;
    text-decoration: underline overline; 
}

footer {
    text-align: center;
    line-height: 30pt;
}

button:hover {
    color: hsl(194, 25%, 33%);
  }
  
nav {
    font-weight: bold;
    color:#e1eaeb;
}



.publicDescrip {
    background-color: #414141;
    width: 50vw;
    padding: 1em;
    line-height: 6mm;
    margin: auto;
}

p{                                          /* formatting general journal entries */
    margin: 5px 2cm 5px 2cm;
    padding: 5vh;
    border-style: solid;
    border-width: 0.5vmax;
    border-color: rgb(74, 99, 109);
    border-radius: 1em;
    text-align: center;

}

.journal {
    background-color: antiquewhite;
    margin-left: 1em;
    padding-left: 1em;
    border-radius: 1em;
    border-style: solid;
    display: block;
}

/* video {
    width: 320px;
    height: 240px;
    display: inline-block;
    position: static
  } */

@media only screen and (max-width: 500px){          /*responsiveness*/
    body{
        background-color:white;               
    }
}

.pic {
    width: 500px;
    position: relative;
    border-style: dashed;
    border-color:#84b0c4;
}